prowjob_namespace: prow
pod_namespace: test-pods
log_level: debug

in_repo_config:
  enabled:
    "*": true

deck:
  spyglass:
    lenses:
      - lens:
          name: metadata
        required_files:
          - started.json|finished.json
      - lens:
          config:
          name: buildlog
        required_files:
          - build-log.txt
      - lens:
          name: junit
        required_files:
          - .*/junit.*\.xml
      - lens:
          name: coverage
        required_files:
          - artifacts/filtered.cov
        optional_files:
          - artifacts/filtered.html
      - lens:
          name: podinfo
        required_files:
          - podinfo.json
  tide_update_period: 1s

plank:
  job_url_prefix_config:
    # TODO: Remove the s3 suffix once https://github.com/kubernetes/test-infra/pull/17779 is in
    "*": https://prow.k8s-prow-c7f9fbfa2832409e2a3a6666e9dc52a3-0000.us-south.containers.appdomain.cloud/view/
  pod_pending_timeout: 15m
  pod_unscheduled_timeout: 1m
  report_templates:
    '*': >-
      [Full PR test history](https://prow.k8s-prow-c7f9fbfa2832409e2a3a6666e9dc52a3-0000.us-south.containers.appdomain.cloud/pr-history?org={{.Spec.Refs.Org}}&repo={{.Spec.Refs.Repo}}&pr={{with index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}).
      [Your PR dashboard](https://prow.k8s-prow-c7f9fbfa2832409e2a3a6666e9dc52a3-0000.us-south.containers.appdomain.cloud/pr?query=is:pr+state:open+author:{{with
      index .Spec.Refs.Pulls 0}}{{.Author}}{{end}}).
  default_decoration_configs:
    "*":
      timeout: 2h
      grace_period: 15s
      gcs_configuration:
        bucket: s3://prow-logs
        path_strategy: explicit
      s3_credentials_secret: s3-credentials
      utility_images:
        clonerefs: quay.io/powercloud/clonerefs:v20200723-4e866c62eb
        entrypoint: quay.io/powercloud/entrypoint:v20200723-4e866c62eb
        initupload: quay.io/powercloud/initupload:v20200723-4e866c62eb
        sidecar: quay.io/powercloud/sidecar:v20200723-4e866c62eb
      ssh_key_secrets:
        - bot-ssh-secret

tide:
  sync_period: 2m
  queries:
    - repos:
        - IBM/raksh
      labels:
        - lgtm
        - approved
      missingLabels:
        - do-not-merge
        - do-not-merge/blocked-paths
        - do-not-merge/hold
        - do-not-merge/invalid-owners-file
        - do-not-merge/work-in-progress
        - needs-rebase
    - orgs:
        - ppc64le-cloud
        - ocp-power-automation
      labels:
        - lgtm
        - approved
      missingLabels:
        - needs-rebase
        - do-not-merge/hold
        - do-not-merge/work-in-progress
        - do-not-merge/invalid-owners-file

decorate_all_jobs: true
