---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: prow
  name: crier
  labels:
    app: crier
spec:
  replicas: 1
  selector:
    matchLabels:
      app: crier
  template:
    metadata:
      labels:
        app: crier
    spec:
      serviceAccountName: crier
      terminationGracePeriodSeconds: 30
      containers:
        - name: crier
          image: gcr.io/k8s-prow/crier:v20220926-17e1ece283
          args:
            - --blob-storage-workers=10
            - --config-path=/etc/config/config.yaml
            - --s3-credentials-file=/etc/s3-credentials/service-account.json
            - --gcs-credentials-file=/etc/gcs-credentials/service-account.json
            - --github-host=github.com
            - --github-endpoint=http://ghproxy
            - --github-endpoint=https://api.github.com
            - --github-token-path=/etc/github/token
            - --github-workers=10
            - --job-config-path=/etc/job-config
            - --kubernetes-blob-storage-workers=10
            - --slack-workers=1
            - --slack-token-file=/etc/slack/token
          env:
            # Use KUBECONFIG envvar rather than --kubeconfig flag in order to provide multiple configs to merge.
            - name: KUBECONFIG
              value: "/etc/kubeconfig/config"
          volumeMounts:
            - name: config
              mountPath: /etc/config
              readOnly: true
            - name: github-token
              mountPath: /etc/github
              readOnly: true
            - name: job-config
              mountPath: /etc/job-config
              readOnly: true
            - name: kubeconfig
              mountPath: /etc/kubeconfig
              readOnly: true
            - name: s3-credentials
              mountPath: /etc/s3-credentials
              readOnly: true
            - name: gcs-credentials
              mountPath: /etc/gcs-credentials
              readOnly: true
            - name: slack
              mountPath: /etc/slack
              readOnly: true
      volumes:
        - name: config
          configMap:
            name: config
        - name: github-token
          secret:
            secretName: github-token
        - name: job-config
          configMap:
            name: job-config
        - name: kubeconfig
          secret:
            defaultMode: 0644
            secretName: kubeconfig
        - name: s3-credentials
          secret:
            secretName: s3-credentials
        - name: gcs-credentials
          secret:
            secretName: gcs-credentials
        - name: slack
          secret:
            secretName: slack-token
